@use "../01_abstract_scss/media_queries_mix" as mq;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
  position: relative;

  @include mq.responsive('xl')
  {
    overflow: auto;
  }
  @include mq.responsive('lg')
  {
    overflow: auto;
  }
  @include mq.responsive('md')
  {
    overflow: auto;
  }
  @include mq.responsive('sm')
  {
    overflow: auto;
  }
  @include mq.responsive('xs')
  {
    overflow: auto;
  }
}

a{
  text-decoration: none;
}